*.sw*
*.root
*.pyc
*.png
macro/*.mac
bin
Gemfile.lock

juggler
irt
athena
ecce
epic
ip6
eicd
reconstruction_benchmarks
jsroot

calibrations
fieldmaps
doc/detector.md
tmp.mac

*.hepmc*
hepmc/*
!hepmc/README.md
