*.sw*
*.root
*.pyc
*.png
*.exe

prefix
bin
lib
macro
!macro/.keep
out
!out/.keep
tmp
!tmp/.keep
jana.dot
jana.pdf

irt
epic
EDM4eic
EDM4hep
EICrecon
reconstruction_benchmarks
NPDet
DD4hep

juggler
ip6
athena
ecce
eicd

calibrations
fieldmaps
tracking_geometry.obj

*.hepmc*
hepmc
!hepmc/README.md

.rbenv
.ruby-version
Gemfile.lock
tags
