*.sw*
*.root
*.pyc
*.png
Gemfile.lock

bin
macro
!macro/.keep
out
!out/.keep

irt
epic
ip6
eicd
reconstruction_benchmarks

juggler
athena
ecce

calibrations
fieldmaps

*.hepmc*
hepmc
!hepmc/README.md
